:host {
    background-color: #db6719 !important;
    display: block;
}

.header-container{
    height: 100vh;
    padding-top: 10% !important;
    color: white;
}

.trivia-container{
    padding-top: 100px;
}

img{
    width: 100px;
    height: 100px;
}

.imgQuestion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.option-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.button-next{
    display: flex;
    align-items: center;
    justify-content: center;
}

